@green : #AEC919;
@yellow : #E3C800;
@red :  #CD5C5C;
@pink: #DB8388;
@orange : #E6A014;
@light-green : #A2CD5A;
@light-blue : #7CBAB9;
@background : #EDE9DD;
@olive : #616E0D;
@gray : #8F8F8F;
@white: #ffffff;




.main-navi-button( @color ) {
	background-color: @color;
	&:hover, &:focus { 
		background-color: saturate(@color, 25%);
	}

	&:active {
		background-color: darken(@color, 5%);
	}
}


body {
	background : @background;
	padding-top: 20px;
	font-family: 'Roboto';
}

.row {
	background: @white;
}

#TH-main-navi {
	margin-top: 20px;
	background : @white;

	li {
		overflow: hidden;
		position: relative;
		.button {
			font-size: 22px;
			font-weight: 300;
			height: 130px;
			padding: 85px 0 0 25px;
			margin-bottom: 0;
			text-align: left;
			border: 1px solid @white;

			&.active {
				padding: 55px 0 0 25px;
				cursor: default;
			}
		}

		.TH-green {
			.main-navi-button( @green);
			&.active {
				background-color: saturate(@green, 25%);
			}
		}

		.TH-yellow {
			.main-navi-button( @yellow);
			&.active {
				background-color: saturate(@yellow, 25%);
			}
		}

		.TH-red {
			.main-navi-button( @red);
			&.active {
				background-color: saturate(@red, 25%);
			}
		}
		

		.TH-orange {
			.main-navi-button( @orange);
			&.active {
				background-color: saturate(@orange, 25%);
			}
		}

		.TH-light-green {
			.main-navi-button( @light-green);
			&.active {
				background-color: saturate(@light-green, 25%);
			}
		}

		.TH-light-blue {
			.main-navi-button( @light-blue);
			&.active {
				background-color: saturate(@light-blue, 25%);
			}
		}
	}

	.TH-blender {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuNzciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,0.77) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.77)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.77) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.77) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.77) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.77) 50%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
	}
}

#svetart-logo {
	margin-left: 22px;
	width: 407px;
	height: 112px;
	background: url(img/logo.png)

}

#TH-info {
	list-style: none;
	margin-left: 0;
	padding-left: 0;

	li {
		color: @olive;
		font-size: 12px;
		font-weight: bold;
		padding-left: 1em;
		text-indent: -1em;

		&:before {
			content: ">";
			padding-right: 5px;
		}
	}
}


.breadcrumbs {
	background: none;
	border-color: @green;
	border-radius: 2px;
	margin-top: 20px;

	li {
		a {
			color: @green;
		}

		&.current {
			a {
				color: @olive;
			}
		}
	}
}

.TH-content {
	margin-top: 15px;
	padding-top: 15px;
	color: @gray;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	//letter-spacing: 0.05em;
}

.TH-border-top {
	border-top: 1px solid @green;
	margin-top: 20px;
	padding-top: 20px;
}


.TH-footer {
	padding-bottom: 20px;

}

.f-dropdown {
	background-color: black;
	li {
		a {
			color: white;
			
			&:hover, &:focus {
				color: gray;
			}

			&:active {
				color: red;
			}
		}

		&:hover, &focus {
			background: none;
		}
	}
	padding: 11px 22px;
}